# LiteLLM Proxy
LITELLM_BASE_URL=http://localhost:4000/v1
LITELLM_MASTER_KEY=sk-master-poc
LITELLM_MODEL_ALIAS=oci-gemini-25-pro

# Configuração OCI para LiteLLM provider OCI
OCI_REGION=us-chicago-1
OCI_COMPARTMENT_ID=ocid1.compartment.oc1..replace_me
OCI_AUTH_MODE=api_key
OCI_USER=ocid1.user.oc1..replace_me
OCI_TENANCY=ocid1.tenancy.oc1..replace_me
OCI_FINGERPRINT=replace_me
OCI_KEY_FILE=/home/opc/.oci/oci_api_key.pem

# OCI Usage API REST
OCI_USAGE_ENDPOINT=https://usageapi.us-ashburn-1.oci.oraclecloud.com
OCI_USAGE_API_VERSION=20200107
OCI_USAGE_SERVICE_FILTER=generative_ai
OCI_USAGE_PRODUCT_FILTER=Google - Gemini 2.5 Pro

# Ledger local da PoC
LEDGER_DB=./storage/ledger.sqlite
CONFIG_FILE=./config/apis.yaml
